body {
  font-family: Futura;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.img-property {
  height: 200px;
}

.grundstuck {
  display: flex;
}

.property {
  flex: 0 0 50%;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.customer {
  flex: 0 0 50%;
  position: sticky;
  display: flex;
  flex-direction: column;
}
